.title {
  font-size: 36px;
  font-weight: var(--text-weight-bold);
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
}

.sectiontitle{
  font-weight: var(--text-weight-bold);
}

.spacer {
  margin: 16px 0;
}

.placeContainer {
  border: 1px solid #cecece;
  border-radius: 4px;
  overflow: hidden;
}

.helper {
  font-weight: var(--text-weight-bold);
}

.placeSelection {
  border-bottom: 1px solid #cecece;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.5s;
}

.placeSelection:hover {
  background-color: #eeeeee;
}

.active {
  background-color: var(--primary-color);
  color: white;
}

.active:hover {
  background-color: var(--primary-color);
}

.container{
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, .5);
  margin: 16px 16px 0 16px;
  padding: 16px;
}

.helper {
  font-size: 12px;
  margin: 4px 0;
}

.text {
  padding: 8px;
}

.textArea {
  padding: 8px;
  min-height: 200px;
  width: 100%;
}
