.outerdiv{
    width: 100%;
    display: flex;
}

.totreviews{
    color: grey;
}

.innergrid{
    padding: 16px;
    padding-right: 0px;
    width: 70%;
    display: grid;
    grid-gap: 3px;
    grid-column-gap: 5px;
    grid-template-columns: 5% 10% 85%;
    grid-template-rows: 18% 18% 18% 18% 18%;
    grid-template-areas: "one star1 bar1"
                        "two star2 bar2"
                        "three star3 bar3"
                        "four star4 bar4"
                        "five star5 bar5";
}

.averagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.averagerating{
    text-align: center;
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 1em;
}

.progbar{
    height: 10px !important;
    margin-top: 7px;
}
.rating{
    transform: scale(.65);
    width: auto;
}

.averagestars{
    width: 150px;
    text-align: center;
}
.one, .two, .three, .four, .five{
    padding-top: 2px;
    text-align: end;
}

.star1, .star2, .star3, .star4, .star5{
    text-align: center;
    margin-top: -1px;
    transform: scale(.75);
}

.bar1, .bar2, .bar3, .bar4, .bar5{
   width: 100%;
}
