.button {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  font-weight: var(--text-weight-bold);
  height: 48px;
  justify-content: center;
  margin: 8px 0;
  outline: none;
  transition: transform .5s;
  width: 100%;
}

.button:hover{
  transform: scale(1.05);
  cursor: pointer;
}