.locBreadcrumb {
  margin: 0 4px;
  color: #414141;
}

.locBreadcrumb:first-child{
  margin-left: 0;
}

@media (max-width: 720px){
  .locBreadcrumb:first-child{
    margin-left: 16px;
  }
}

.locBreadcrumbContainer {
  margin: 16px 0;
  font-size: 12px;
}