.container{
<<<<<<< HEAD
    padding: 12px 0;
=======
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}
.photos{
    
>>>>>>> 18db903 (photo page, review, and dropdown)
}

.starempty{
    color: Grey;
    
}

.starfull{
    color: gold;
}

.outerupper{
    display: flex;
    align-items: center;
}

.imageouter{
    width: 51px;
    height: 51px;
}

.profilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: aquamarine;
}

.centerupper {
    color: black;
    display: inline-block;
    min-width: 48px;
}

.centerouter {
    margin: 0 4px;
}

.outerlower {
    margin: 8px 0;
}

.centerlower {
    display: flex;
    align-items: baseline;
}

.reviewDate {
    color: lightslategray;
    font-size: 12px;
    margin-left: 4px;
    margin-top: -2px;
}

.activity {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 14px;
    padding: 2px 4px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.activityContainer {
    margin: 8px 0;
}

.helper {
    font-size: 12px;
    font-style: italic;
}