.container{
    padding: 16px;
    
}

.starempty{
    color: Grey;
    
}

.starfull{
    color: gold;
}

.outerupper{
    display: flex;
    align-items: center;
}

.imageouter{
    width: 51px;
    height: 51px;
}

.profilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.centerouter {
    margin: 0 4px;
}

.outerlower {
    margin: 8px 0;
}

.centerlower {
    display: flex;
    align-items: center;
}

.reviewDate {
    color: lightslategray;
    font-size: 12px;
    margin-left: 4px;
    margin-top: -2px;
}
