.reviewbuttoncontainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.emptyState {
    text-align: center;
    padding-bottom: 100px;
}

.reviewContainer {
    padding: 16px;
}