.ratingcontainer{
    display: flex;
    font-weight: var(--text-weight-bold);
    
}

.ratingtitle{
    font-weight: var(--text-weight-bold);
    font-size: 18px;
}

.starempty{
    color: Grey;
}

.starfull{
    color: gold;
}

.large {
    height: 2em!important;
    width: 2em!important;
}
