.container {
  padding: 16px;
  background-color: white;
}

.title {
  font-weight: var(--text-weight-bold);
  font-size: 32px;
  margin: 32px 0 4px 0;
}

.username {
  margin: 4px 0;
}

.subtitle {
  margin: 4px 0 32px 0;
}

.reviewContainer {
  margin: 12px 0;
}

.reviewBeach {
  font-weight: var(--text-weight-bold);
}

.heroImg {
  position: relative;
  height: 320px;
  width: 100%;
}

.profilePic {
  position: relative;
  margin: auto;
  margin-top: -80px;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 4px solid white;
  overflow: hidden;
}

@media (max-width: 720px) {
  .heroImg {
    height: 240px;
  }
}
