.container {
  padding: 0px 16px;
  background-color: white;
}

.title {
  font-weight: var(--text-weight-bold);
  font-size: 32px;
  margin: 32px 0 4px 0;
}

.username {
  margin: 4px 0;
}

.subtitle {
  margin: 4px 0 32px 0;
}

.reviewContainer {
  margin: 12px 0;
}

.reviewBeach {
  font-weight: var(--text-weight-bold);
}