.container{
    background-color: white;
    
}

.sectionTitle {
    font-size: 18px;
    padding: 12px 24px 0 24px;
    font-weight: var(--text-weight-bold);
}

.description{
    font-size: 14px;
    margin: 0 24px 24px 24px;
    line-height: 20px;
    white-space: pre-line;
}

.entryMap {
    margin: 16px;
    border-radius: 8px;
    height: 240px;
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 12px;
    background-position-y: center;
}

.tideRowHeader {
    font-weight: var(--text-weight-bold);
}

.tideRow {
    margin: 4px 24px;
    display: flex;
    flex: 1;
}

.tideItem {
    padding: 0 8px;
    flex: 1;
}

.tideItem:first-child {
    padding-left: 0;
}

.viewButton {
    outline: none;
    background-color: white;
    color: var(--primary-color);
    border: 2px var(--primary-color) solid;
    border-radius: 8px;
    padding: 12px 0;
    display: block;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.overlay {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    height: 100%;
}
