.slide {
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 24px 16px;
  padding: 16px;
  max-height: 188px;
}

.slidepic {
  height: 100%;
  width: 260px;
  position: relative;

  flex: 280px;
  flex-grow: 1;
  flex-shrink: 0;
}

.image {
  object-fit: cover !important;
  border-radius: 8px;
}

.locationInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  overflow: hidden;
  flex-grow: 1;
}

.spotName {
  margin: 0;
  font-size: 24px;
  font-weight: var(--text-weight-bold);
}

.location {
  margin-top: 0;
  margin-bottom: 4px;
}

.ratingContainer {
  display: flex;
}

@media (max-width: 720px) {
  .slide {
    flex-direction: column;
    max-height: 450px;
  }

  .slidepic {
    width: 100%;
    flex: none;
  }

  .locationInfoContainer {
    margin-left: 0;
  }
}
