.container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, .5);
    margin: 16px 16px 0 16px;
    padding: 16px;
}

.beachtitle{

    font-size: 36px;
    font-weight: var(--text-weight-bold);
    
}

.spacer {
    margin: 16px 0;
}

.paragraphreview{
    width: 100%;
    height: 100px;
}

.reviewtitle{
    font-weight: var(--text-weight-bold);
    font-size: 18px;
}

.nextbutton{
    width: 40vw;
    background-color: var(--primary-color);
    color: white;
    font-weight: var(--text-weight-bold);
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: transform .5s;
}

.nextbutton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

