.container {
    
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main {
    max-height: 100%;
    display: flex;
    justify-content: center;
    max-width: 720px;
    margin: auto;
}


