.container{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    margin-bottom: 16px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header{
    font-size: 10px;
    font-weight: var(--text-weight-normal);
    color: #5a5a5a;
}

.value{
    font-size: 14px;
    font-weight: var(--text-weight-bold);
    margin-top: 4px;
}
