.container{
    display: flex;
    justify-content: space-around;
    padding: 16px 24px 0 24px;
    margin-bottom: 16px;
}

.viz, .depth{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.depthinfo, .actualdepth, .vizinfo, .actualviz{
    
}

.depthinfo, .vizinfo{
    font-size: 10px;
    font-weight: var(--text-weight-normal);
    color: #5a5a5a;
}

.actualdepth, .actualviz{
    font-size: 14px;
    font-weight: var(--text-weight-bold);
}