.container{
    display: flex;
    justify-content: space-around;
    padding: 16px 24px 0 24px;
    margin-bottom: 16px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header{
    font-size: 10px;
    font-weight: var(--text-weight-normal);
    color: #5a5a5a;
}

.value{
    font-size: 14px;
    font-weight: var(--text-weight-bold);
}

.undetermined, .beginner, .intermediate, .advanced {
    padding: 2px 8px;
    border-radius: 4px;
}

.beginner {
    background-color: #69a041;
    color: white;
}

.undetermined {
    background-color: #cecece;
}

.intermediate {
    background-color: #4bafe1;
}

.advanced {
    background-color: #676767;
}
