.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-animation: fade-in 1s ease;
  -moz-animation: fade-in 1s ease;
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;
}

.outerContainer {
  position: fixed;
  width: 540px;
  z-index: 200;
  bottom: 0;
  background-color: white;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  -webkit-animation: slide-up 1s ease;
  -moz-animation: slide-up 1s ease;
  animation: slide-up 1s ease;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.content {
  padding: 24px;
}

.heroImg {
  height: 120px;
  position: relative;
}

.headline {
  font-size: 36px;
  font-weight: var(--text-weight-bold);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 20px;
}

.headerRow {
  align-items: center;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 8px;
}

.headerSection {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.headerItem {
  text-transform: uppercase;
  width: 44px;
}

.proItem {
  background-color: #DC4C2C;
  border-radius: 4px;
  padding: 2px 4px;
  text-align: center;
}

.featureRow {
  display: flex;
  padding: 8px;
  border-radius: 8px;
}

.featureRow:nth-child(odd) {
  background-color: #D9D9D9;
}

.checkContainer {
  display: flex;
  margin-left: auto;
}

.check {
  width: 44px;
  text-align: center;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
}

@-webkit-keyframes slide-up {
  0% {
    bottom: -320px
  }

  100% {
    bottom: 0
  }
}

@-moz-keyframes slide-up {
  0% {
    bottom: -320px
  }

  100% {
    bottom: 0
  }
}

@keyframes slide-up {
  0% {
    bottom: -320px
  }

  100% {
    bottom: 0
  }
}

@-webkit-keyframes fade-in {
  0% {
    background-color: prgba(0, 0, 0, 0)
  }

  100% {
    background-color: rgba(0, 0, 0, 0.6)
  }
}

@-moz-keyframes fade-in {
  0% {
    background-color: prgba(0, 0, 0, 0)
  }

  100% {
    background-color: rgba(0, 0, 0, 0.6)
  }
}

@keyframes fade-in {
  0% {
    background-color: prgba(0, 0, 0, 0)
  }

  100% {
    background-color: rgba(0, 0, 0, 0.6)
  }
}