.slide {
    width: 256px;
    height: 206px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-wrap: normal;
    border-radius: 8px;
}


.slidepic{
    width: 100%;
    height: 70%;

    position: relative;
    overflow: hidden;
}

.image{
    object-fit: cover !important;
}

.locationtext{
    padding: 8px;
    font-weight: var(--text-weight-bold);
}

.starempty{
    color: Grey;
    
}

.starfull{
    color: gold;
}