.titlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--text-weight-bold);
    font-size: 24px;
}

.buttonwrapper{
    display: flex;
    justify-content: center;
}

.loginbutton:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.createone{
    color: blue !important;
    cursor: pointer;
}

.bottominfo{
    width: 100%;
    text-align: center;
}

.googleButton {
    margin: 16px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.orSeparator {
    margin: 16px 0;
    font-size: 24px;
    font-weight: var(--text-weight-bold);
    text-align: center;
}
