.titlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--text-weight-bold);
    font-size: 24px;
}

.buttonwrapper{
    display: flex;
    justify-content: center;
}

.loginbutton:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.createone{
color: blue !important;

}

.createone:hover{
    cursor: pointer;
}

.bottominfo{
    width: 100%;
    text-align: center;
}