.header {
    background: white;
}

.headercontainer {
    align-items: center;
    display: flex;
    height: 52px;
    margin: auto;
    padding: 0 16px;
}

.headertitlelink {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: var(--text-weight-bold);
}

.headertitle {
    margin-left: 4px;
    font-size: 18px;
    font-family: 'SF Pro Rounded', inherit;
}

.spaceholder {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.explore {
    margin-left: 12px;
    font-weight: var(--text-weight-bold);
    color: #414141;
    transition: color 0.25s;
}

.explore:hover, .explore:active {
    color: var(--primary-color);
}

.addSpot {
    margin-right: 8px;
    color: white;
    background: var(--primary-color);
    border-radius: 8px;
    padding: 4px 8px;
}

.rightButton {
    font-weight: var(--text-weight-bold);
}

.loginbutton {
    font-size: 14px;
    text-align: right;
    font-weight: var(--text-weight-bold);
    color: var(--primary-color);
}

.outerprofile {
    margin-left: 8px;
}

@media (max-width: 720px) {
    .outerprofile {
        display: none;
    }
}
