.header {
    background: white;
}

.headercontainer {
    align-items: center;
    display: flex;
    height: 44px;
    margin: auto;
    padding: 0 16px;
}

.headertitlelink {
    display: flex;
    align-items: center;
    font-weight: var(--text-weight-bold);
}

.headertitle {
    margin-left: 4px;
}

.spaceholder {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.innerheaderbutton:hover{
    cursor: pointer;
}

.addSpot {
    margin-right: 8px;
    color: white;
    background: var(--primary-color);
    border-radius: 8px;
    padding: 4px 8px;
}

.rightButton {
    font-weight: var(--text-weight-bold);
}

.loginbutton {
    font-size: 14px;
    text-align: right;
    font-weight: var(--text-weight-normal);
    color: var(--primary-color);
}

.loginbutton:hover{
    cursor: pointer;
}

.outerprofile {
    margin-left: 8px;
}
