.header {
    background: white;
    font-weight: var(--text-weight-bold);
}

.headercontainer {
    align-items: center;
    display: flex;
    height: 40px;
    margin: auto;
    max-width: 720px;
    padding: 0 16px;
}

.spaceholder {
    margin-left: auto;
}

.innerheaderbutton:hover{
    cursor: pointer;
}

.loginbutton {
    font-size: 14px;
    text-align: right;
    font-weight: var(--text-weight-normal);
    color: var(--primary-color);
}

.loginbutton:hover{
    cursor: pointer;
}