.partnerInnerContainer {
  padding: 8px 16px;
  display: flex;
  overflow: scroll;
}

.partnerTitle {
  font-weight: bold;
  font-size: 22px;
  padding: 0 16px;
}

.userLockup {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.nameLockup {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.partnerContainer {
  border-radius: 16px;
  border: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  padding: 16px;
  width: 320px;
  flex: 0 0 320px;
}

.partnerContainer:last-of-type {
  flex: 0 0 240px;
}

.name {
  font-weight: var(--text-weight-bold);
}

.bio {
  font-size: 14px;
}

.hometown {
  color: var(--text-secondary);
}

.profilePic {
  border-radius: 32px;
}

.messageButton {
  margin-top: 8px;
}

.buddyProText {
  margin: auto;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
