.partnerOuterContainer {
  padding: 0 16px;
}

.partnerInnerContainer {
  padding: 8px 0px;
  display: flex;
  overflow: scroll;
}

.partnerTitle {
  font-weight: bold;
  font-size: 22px;
}

.userLockup {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.nameLockup {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.partnerContainer {
  border-radius: 8px;
  border: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  padding: 8px 8px 0 8px;
  width: 320px;
  flex: 1 0 320px;
}

.name {
  font-weight: var(--text-weight-bold);
}

.hometown {
  color: var(--text-secondary);
}

.profilePic {
  border-radius: 32px;
}