.image{
    width: 100%;
    
    height: auto;
    top: 0 !important;
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.imageinner{
   
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 0;
}

.menu{
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -30px;
    justify-content: space-evenly;


    
}

.searchbar{
    width: 50vw;
}

.innermenu{
    width: 100%;
}

.pagetitle{
    z-index: 2;
    top: 10vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: var(--text-weight-bold);
    font-size: 36px;
    text-align: center;
}

.carouseltitle{
    margin-left: 16px;
    margin-top: 32px;
    font-weight: var(--text-weight-bold);
}