.image{
    width: 100%;
    height: 500px;
    top: 0 !important;
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.imageinner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.menu{
    z-index: 1;
}