.container {
    margin-bottom: 32px;
}

.contentContainer {
    margin: 0 64px;
}

@media (hover: none), (max-width: 720px) {
    .contentContainer {
        margin: auto
    }
}

.image {
    width: 100%;
    height: 300px;
    top: 0 !important;
    display: flex;
    flex-direction: column;

    position: relative;
}

.menu {
    z-index: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    margin-top: -24px;
}

.imageinner {
    height: 100%;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.pagetitle {
    z-index: 2;
    width: 100%;
    color: white;
    font-weight: var(--text-weight-bold);
    font-size: 36px;
    text-align: center;
    margin: -12px 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.areaDropdown {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    border-radius: 4px;
}

.areaTitle {
    font-size: 36px;
    font-weight: var(--text-weight-bold);
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background-color .2s, transform .2s;
    margin-right: 16px;
    margin-left: 16px;
}

.carouseltitle {
    margin: 32px 16px 0;
    font-weight: var(--text-weight-bold);
}

.locationContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 16px 0;
    justify-content: space-around;
}

.location {
    align-items: center;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
    color: #0087D3;
    display: flex;
    flex: 0 1 148px;
    font-weight: var(--text-weight-bold);
    justify-content: center;
    margin: 8px 8px;
    padding: 8px 16px;
    text-align: center;
    transition: all 0.2s ease-in;
}

.location.active {
    background: rgb(11, 34, 224);
    background: linear-gradient(90deg, rgba(11, 34, 224, 1) 0%, rgba(11, 224, 188, 1) 100%);
    color: white;
}

.location:active {
    transform: scale(0.95);
}

.location:hover {
    transform: scale(1.05);
}

.marginContainer {
    padding: 0 16px;
    white-space: pre-line;
}

.search {
    width: 50%;
}

.inFeedAdMobile {
    display: none;
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.inFeedAdDesktop {
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

@media (max-width: 720px) {
    body .search {
        width: 100% !important;
    }

    .inFeedAdDesktop {
        display: none;
    }

    .inFeedAdMobile {
        display: block;
    }
}

.mapImageContainer {
    padding: 16px;
    display: inline-block;
    position: relative;
}

.mapImage {
    border-radius: 8px;
}

.homeAd {
    text-align: center;
    margin: 16px 0;
}

.mapExpander {
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    right: 24px;
    top: 24px;
    height: 32px;
    width: 32px;
    box-shadow: var(--box-shadow);
    transition: transform 0.5s;
}

.mapExpander:hover {
    transform: scale(1.2);
}
