.container {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  height: 48px;
}

.inputContainer {
  width: calc(100% - 80px);
  margin: auto 16px;
}

.searchbar {
  width: 100%;
  outline: none;
  border: none;
}

.searchButton {
  width: 48px;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 12px;
  cursor: pointer;
}

.searchButton:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.04);
}