.placeContainer {
  border: 1px solid #cecece;
  border-radius: 4px;
  overflow: hidden;
}

.helper {
  font-weight: var(--text-weight-bold);
}

.placeSelection {
  border-bottom: 1px solid #cecece;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.5s;
}

.placeSelection:hover {
  background-color: #eeeeee;
}

.active {
  background-color: var(--primary-color);
  color: white;
}

.active:hover {
  background-color: var(--primary-color);
}

.googleMap {
  height: 360px;
  margin-bottom: 32px;
}
