.carouselContainer {
    position: relative;
}

.carousel{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 16px;
}

.carousel.allowVertical {
    flex-direction: column;
}

.nextButton{
    right: -40px;
}

.prevButton {
    left: -24px;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    cursor: pointer;
}

.button.allowVertical {
    display: none;
}

.caret {
    margin: auto;
}

@media (max-width: 968px) {
    .carousel.allowVertical {
        flex-direction: row;
    }

    .button.allowVertical {
        display: flex;
    }
}

@media (hover: none) {
    .carousel{
        overflow: scroll;
    }

    .button {
        display: none;
    }

    .button.allowVertical {
        display: none;
    }
}
