.patronCard {
  border-radius: 8px;
  border: 1px solid #cecece;
  margin: 0px 16px 0px 0px;
  padding: 8px;
  flex: 1 0 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerContainer {
  display: flex;
}

.patronName {
  font-weight: var(--text-weight-bold);
}

.description{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
  white-space: pre-line;
}

.bookNow {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  text-align: center;
}

.image {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  flex: 0 0 64px;
}
