.patronCard {
  border-radius: 16px;
  border: 1px solid #cecece;
  margin: 0px 16px 0px 0px;
  padding: 8px;
  flex: 1 0 320px;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
}

.patronName {
  font-size: 16px;
  font-weight: var(--text-weight-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
  overflow: hidden;
}

.bookNow {
  background-color: #AF35FA; /* var(--primary-color) */
  border-radius: 8px;
  color: white;
  padding: 4px 8px;
  text-align: center;
}

.bookNow:hover {
  opacity: 0.8;
}

.image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex: 0 0 90px;
  height: 90px;
}

.stars {
  height: 22px;
}

.city {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
