.searchContainer {
  margin-top: 12px;
  padding: 8px;
}

.searchResultsContainer {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slide {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px;
  width: 270px;
}

.requestAdd {
  color: var(--primary-color);
  text-decoration: underline;
}

.menu{
  z-index: 1;
  width: 80%;
  display: flex;
  justify-content: center;
  height: auto;
  margin: auto;
  margin-top: -24px;    
}

.search {
  width: 50%;
}

@media (max-width: 720px) {
  body .search{
    width: 100%!important;
  }
}