.searchContainer {
  margin-top: 12px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.searchResultsContainer {
  margin-top: 24px;
}

.slide {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px;
}

.requestAdd {
  color: var(--primary-color);
  text-decoration: underline;
}