.pageHeroInfo {
    color: white;
    position: absolute;
    bottom: 32px;
    margin: 0 24px;
}

.pagetitle{
    position: relative;   
    font-weight: var(--text-weight-bold);
    font-size: 24px;
}

.imageinner {
    background-size: cover;
    min-height: 250px;
    position:relative;
}

.overlay {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
    height: 100%;
  }

.beachdescription{
    font-weight: var(--text-weight-normal) !important;
    font-size: 14px;
}

.menu{
    width: 100%;
    height: 55px;
    background-color: var(--primary-color);
}

.buttoncontainer{
    display: flex;
    justify-content: space-evenly;
}

.buttoncircle{
    margin: auto;
    width: 48px;
    height: 48px;
    border-radius: 25px;
    background-color: white;
    margin-top: -24px;
    z-index: 99;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px;
    transition: transform .5s;
}

.buttoncircle:hover{
    transform: scale(1.2);
}

.buttonouter{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.buttonlabel{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.starempty{
    color: Grey;
    
}

.starfull{
    color: gold;
}