.pagetitle{
    z-index: 2;
 
    position: relative;   
    color: white;
    font-weight: var(--text-weight-bold);
    padding-top: 150px;
    padding-left: 50px;
   
}

.imageinner {
    background-size: cover;
    min-height: 250px;
    position:relative;
}

.overlay {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
    height: 100%;
  }

.beachdescription{
    font-weight: var(--text-weight-normal) !important;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    margin-top: -5px;
}

.buttoncontainer{
    display: flex;
    justify-content: space-evenly;
}

.buttoncircle{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin-top: -25px;
    z-index: 99;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px;
    transition: transform .5s;
}

.buttoncircle:hover{
    transform: scale(1.2);
}

.buttonouter{
    display: flex;
    flex-direction: column;
}

.buttonlabel{
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    color: white;
}

.starempty{
    color: Grey;
    
}

.starfull{
    color: gold;
}