.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-animation: fade-in 1s ease;
  -moz-animation: fade-in 1s ease;
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;  
}

.container {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 32px;
  padding-bottom: 64px;
  border-radius: 16px 16px 0 0;
  max-width: 720px;
  width: 100%;
  -webkit-animation: slide-up 1s ease;
  -moz-animation: slide-up 1s ease;
  animation: slide-up 1s ease;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 18px;
  font-weight: var(--text-weight-bold);
  text-align: center;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}

.googleButton {
  margin: auto;
}

.orSpacer {
  margin: 12px auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
}

.center {
  text-align: center;
  margin: auto;
  margin-top: 8px;
}

.notNow {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  margin: auto;
}

.mobileContainer {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 16px;
  padding-bottom: 64px;
  border-radius: 16px 16px 0 0;
  max-width: 720px;
  width: 100%;
  -webkit-animation: slide-up 1s ease;
  -moz-animation: slide-up 1s ease;
  animation: slide-up 1s ease;
}

@media (max-width: 720px) {
  .mobileContainer {
    display: block;
  }
  .container {
    display: none;
  }
}

.top {
  text-align: center;
  font-weight: var(--text-weight-bold);
  padding: 8px;
  padding-bottom: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid;
  border-color: #edeff1;
}

.appRow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.app {
  display: flex;
  align-items: center;
}

.icon {
  padding: 4px;
  border: 1px solid #edeff1;
  border-radius: 8px;
  margin-right: 12px;
  display: flex;
}

.appName {
  font-weight: var(--text-weight-bold);
}

.button {
  border-radius: 40px;
  background-color: #f6f7f8;
  border: 1px solid #d3d6da;
  color: #787c7e;
  font-size: 14px;
  font-weight: var(--text-weight-bold);
  line-height: 38px;
  height: 40px;
  margin-left: auto;
  width: 94px;
  text-align: center;
}

.active {
  background-color: #24a0ed;
  color: white;
  border-color: #24a0ed;
}

.modalOpen {
  overflow: hidden;
}

@-webkit-keyframes slide-up {
  0%{bottom:-320px}
  100%{bottom:0}
}
@-moz-keyframes slide-up {
  0%{bottom:-320px}
  100%{bottom:0}
}
@keyframes slide-up {
  0%{bottom:-320px}
  100%{bottom:0}
}

@-webkit-keyframes fade-in {
  0%{background-color:prgba(0,0,0,0)}
  100%{background-color:rgba(0,0,0,0.6)}
}
@-moz-keyframes fade-in {
  0%{background-color:prgba(0,0,0,0)}
  100%{background-color:rgba(0,0,0,0.6)}
}
@keyframes fade-in {
  0%{background-color:prgba(0,0,0,0)}
  100%{background-color:rgba(0,0,0,0.6)}
}
