.pill {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.active {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
}