.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
   
    min-width: 50% !important;
    width: 50% !important;
    font-weight: var(--text-weight-bold) !important;
}

