.footer {
    background-color: white;
}

.emailContainer {
    padding: 24px;
    color: white;
    background: rgb(11,34,224);
    background: linear-gradient(90deg, rgba(11,34,224,1) 0%, rgba(11,224,188,1) 100%);
    text-align: center;
}

.emailTitle {
    text-align: center;
    font-weight: var(--text-weight-bold);
    font-size: 32px;
}

.emailSubtitle {
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.emailSubtitleText {
    margin-bottom: 4px;
    margin-right: 4px;
    font-weight: var(--text-weight-bold);
}

.formContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
}

.footertext{
    margin-top: 8px;
    font-weight: var(--text-weight-bold);
    font-size: 18px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.headertitle {
    font-weight: var(--text-weight-bold);
    font-size: 24px;
    margin-left: 4px;
}

.footerLinksContainer {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.footerLinkContainer {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.footerLink{
    margin: 4px 0;
    text-decoration: none;
}

.leftColumn {
  flex: 0 0 320px;
}

.rightColumn {
    flex: 0 0 320px;
}

.popularSearchesTitle {
    margin: 8px 0;
    font-weight: bold;
}

.popularSearches > a {
    margin: 0 4px;
}

.popularSearches > a:first-child {
    margin-left: 0;
}

@media (max-width: 720px) {
    .footerLinksContainer {
        flex-direction: column !important;
    }
    .footerLink {
        flex: 1 !important;
    }
    .leftColumn {
        flex: 1;
    }
    .rightColumn {
        flex: 1;
        margin-top: 8px;
    }
}
