.footer {
    background-color: white;
}

.emailContainer {
    padding: 24px;
    color: white;
    background-color: var(--primary-color);
}

.emailTitle {
    text-align: center;
    font-weight: var(--text-weight-bold);
}

.emailBox {
    border-radius: 4px;
    border: 1px solid white;
    padding: 4px 8px;
    min-width: 200px;
    height: 48px;
}

.emailBox::placeholder {
    color: #cecece;
}

.emailSubmit {
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    height: 48px;
    margin-left: 8px;
    color: var(--primary-color);
    cursor: pointer;
}

.formContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
}

.footertext{
    margin-top: 8px;
    font-weight: var(--text-weight-bold);
    font-size: 18px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.headertitle {
    font-weight: var(--text-weight-bold);
    font-size: 24px;
    margin-left: 4px;
}

.footerLinksContainer {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.footerLinkContainer {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.footerLink{
    margin: 4px 0;
    text-decoration: none;
}

.leftColumn {
  flex: 0 0 320px;
}

.rightColumn {
    flex: 0 0 320px;
}

@media (max-width: 720px) {
    .footerLinksContainer {
        flex-direction: column !important;
        max-width: 320px;
        margin: auto;
    }
    .footerLink {
        flex: 1 !important;
    }
    .leftColumn {
        flex: 1;
    }
    .rightColumn {
        flex: 1;
        margin-top: 8px;
    }
}
