.photocontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.photocontainer *{
  border: none !important;
  border-radius: 4px;
}
