.container{
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.daycontainer{
    display: flex;
    flex-direction: column;
}

.hourscontainer{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: flex-end;
}


